<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css"/>
  <title>Update User</title>
</head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/create">Create User</a>
    <!-- <a href="#contact">Contact</a>
    <a href="#about">About</a> -->
  </div>
  <div class="form-add-new">
    <form action="/update-user" method="POST">
      <fieldset>
        <legend>Update Users</legend>
        <div class="input-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" value="<%= userEdit.email %>">
        </div>
        <div class="input-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" value="<%= userEdit.name %>">
        </div>
        <div class="input-group">
          <label for="city">City</label>
          <input type="text" class="form-control" name="city" value="<%= userEdit.city %>">
        </div>
        <input type="hidden" name="id" value="<%= userEdit.id %>" />
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</body>
</html>